*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/sonarlint
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/sonarlint/
/.idea/sonarlint/*
/.idea/markdown-navigator.xml
/app/prod/release/app-prod-release.aab
/.idea/deploymentTargetSelector.xml
/.idea/other.xml
/.idea